<?xml version="1.0"?>

<appSettings>
  <add key="DefaultAditionalFeeType" value="BAF|DOC|ABC"/>
  <add key="OrderBoxMaxValue" value="100"/>
 
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="RouteDebugger:Enabled" value="true" />
  <add key="RecommendMode" value="Exhibit" />
  <add key="MaintainMail" value="9193567@qq.com" />
  <add key="AppFabricCaching.Name" value="default" />
  <add key="AppFabricCaching.Timespan" value="3600" />
  
   

</appSettings>