<!--<PathConfig>
  <add key="Home" path="http://192.168.0.254/" />
  <add key="UC" path="http://192.168.0.254:15813/" />
  <add key="Login" path="http://192.168.0.254:15813/User/Login" />
  <add key="Register" path="http://192.168.0.254:15813/User/Register" />
  <add key="Logout" path="http://192.168.0.254:15813/User/Logout" />
  <add key="ChangePwd" path="http://192.168.0.254:15813/User/Pwd" />
  <add key="UserInfo" path="http://192.168.0.254:15813/UserCenter/Main" />
  <add key="HistoryMall" path="http://192.168.0.254:8031/" />
  <add key="Mall" path="http://192.168.0.254/" />
  <add key="CustomerLogin" path="http://192.168.0.254:15922/Customer/Login" />
  <add key="Support" path="http://192.168.0.254:15922/" />
  <add key="Cop" path="http://192.168.0.254:15921/" />
</PathConfig>-->
<PathConfig>
  <add key="Home" path="http://localhost:15922/" />
  <add key="UC" path="http://localhost:15813/" />
  <add key="Login" path="http://localhost:15813/User/Login" />
  <add key="Register" path="http://localhost:15813/User/Register" />
  <add key="Logout" path="http://localhost:15813/User/Logout" />
  <add key="ChangePwd" path="http://localhost:15813/User/Pwd" />
  <add key="UserInfo" path="http://localhost:15813/UserCenter/Main" />
  <add key="HistoryMall" path="http://localhost:8031/" />
  <add key="Mall" path="http://localhost/" />
  <add key="CustomerLogin" path="http://localhost:15922/Customer/Login" />
  <add key="Support" path="http://localhost:15922/" />
  <add key="Cop" path="http://localhost:15921/" />

</PathConfig>
<!--<PathConfig>
  <add key="Home" path="http://service.szhtxx.com:15922/" />
  <add key="UC" path="http://service.szhtxx.com:15813/" />
  <add key="Login" path="http://service.szhtxx.com:15813/User/Login" />
  <add key="Register" path="http://service.szhtxx.com:15813/User/Register" />
  <add key="Logout" path="http://service.szhtxx.com:15813/User/Logout" />
  <add key="ChangePwd" path="http://service.szhtxx.com:15813/User/Pwd" />
  <add key="UserInfo" path="http://service.szhtxx.com:15813/UserCenter/Main" />
  <add key="CustomerLogin" path="http://service.szhtxx.com:15922/Customer/Login" />
  <add key="HistoryMall" path="http://www.szhtxx.com:8031/" />
  <add key="Mall" path="http://mall.szhtxx.com/" />
  <add key="CustomerLoginout" path="http://service.szhtxx.com:15922/Customer/Loginout" />
  <add key="Support" path="http://service.szhtxx.com:15922/" />
  <add key="Cop" path="http://192.168.0.254:15921/" />

</PathConfig>-->

