<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="ICaching" type="JR.Common.ICaching, JR.Common" />
  <alias alias="AppFabricCaching" type="JR.Common.AppFabric.AppFabricCaching, JR.Common.AppFabric" />

  <alias alias="ILog" type="JR.Common.ILog, JR.Common " />
  <alias alias="Logger" type="JR.Common.Log4N.Logger, JR.Common.Log4N" />
   
   
  <!-- Service -->
  
  <alias alias="ISyncImportInvoiceService" type="Alayaz.SOA.IService.ISyncImportInvoiceService,Alayaz.SOA.IService" />
  <alias alias="SyncImportInvoiceService" type="Alayaz.SOA.Service.SyncImportInvoiceService,Alayaz.SOA.Service" />
  <!--End Service-->

  <container>
    <register type="ICaching" mapTo="AppFabricCaching" />

    <register type="ILog" mapTo="Logger" />
    

  </container>


  <container name="Service">
     
    <register type="ISyncImportInvoiceService" mapTo="SyncImportInvoiceService" />
     
  </container>
</unity>