<services>

  <service name="Alayaz.SOA.Service.LogService">
    <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="NoneSecurity"
      contract="Alayaz.SOA.IService.ILogService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
  </service>
  <service name="Alayaz.SOA.Service.SyncImportInvoiceService">
    <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="NoneSecurity"
      contract="Alayaz.SOA.IService.ISyncImportInvoiceService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
  </service>

</services>