<serviceHostingEnvironment multipleSiteBindingsEnabled="true">

  <serviceActivations>
    <add factory="Alayaz.SOA.WcfServiceFactory" service="Alayaz.SOA.Service.LogService" relativeAddress="Log.svc" />
    <add factory="Alayaz.SOA.WcfServiceFactory" service="Alayaz.SOA.Service.SyncImportInvoiceService" relativeAddress="SyncImport.svc" />
  </serviceActivations>
</serviceHostingEnvironment>
