<bindings>
  <netTcpBinding>
    <binding name="NoneSecurity" maxReceivedMessageSize="6553600" />
  </netTcpBinding>
  <wsHttpBinding>
    <binding name="NoneSecurity" maxReceivedMessageSize="6553600">
      <security mode="None" />
    </binding>
  </wsHttpBinding>
  <ws2007HttpBinding>
    <binding name="NoneSecurity" maxReceivedMessageSize="6553600">
      <security mode="None" />
    </binding>
  </ws2007HttpBinding>
</bindings>