<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileReader" />
                <binding name="BasicHttpBinding_ISyncImportInvoiceService" />
                <binding name="BasicHttpBinding_ISyncImportInvoiceService1" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFileReader" />
                <binding name="NetTcpBinding_IFileReader1" />
                <binding name="NetTcpBinding_ISyncImportInvoiceService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:5001/alayazsoa" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFileReader" contract="ServiceProxy.IFileReader"
                name="NetTcpBinding_IFileReader">
                <identity>
                    <servicePrincipalName value="host/Alayaz" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:16519/alayazsoa" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFileReader1" contract="ServiceRefConsole.IFileReader"
                name="NetTcpBinding_IFileReader1">
                <identity>
                    <userPrincipalName value="ALAYAZ\Gauge" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:16517/alayazsoa" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFileReader" contract="ServiceRefConsole.IFileReader"
                name="BasicHttpBinding_IFileReader" />
            <endpoint address="net.tcp://localhost:9001/alayazsoa" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISyncImportInvoiceService"
                contract="ImpInvServiceProxy.ISyncImportInvoiceService" name="NetTcpBinding_ISyncImportInvoiceService">
                <identity>
                    <servicePrincipalName value="host/JR-Studio" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:12001/alayazsoa" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISyncImportInvoiceService"
                contract="RemoteServiceHostByConsoleRef.ISyncImportInvoiceService"
                name="BasicHttpBinding_ISyncImportInvoiceService" />
            <endpoint address="http://localhost:13002/alayazsoa" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISyncImportInvoiceService1"
                contract="RemoteServiceHostByWinServiceRef.ISyncImportInvoiceService"
                name="BasicHttpBinding_ISyncImportInvoiceService1" />
        </client>
    </system.serviceModel>
  <appSettings>
    <!--JustStart操作方法启动的应用程序名称-->
    <add key="AppName" value="C:\Alayaz\Debug\Alayaz.CM.DN432.WebCrawl.exe" />

  </appSettings>

</configuration>