<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
  </entityFramework>
  <oracle.manageddataaccess.client>
    <version number="*">
      <edmMappings>
        <edmMapping dataType="number">
          <add name="bool" precision="1" />
          <add name="byte" precision="2" />
          <add name="int16" precision="5" />
        </edmMapping>
      </edmMappings>
    </version>
  </oracle.manageddataaccess.client>
  <oracle.dataaccess.client>
    <settings>
      <add name="bool" value="edmmapping number(1,0)" />
      <add name="byte" value="edmmapping number(3,0)" />
      <add name="int16" value="edmmapping number(4,0)" />
      <add name="int32" value="edmmapping number(9,0)" />
      <add name="int64" value="edmmapping number(18,0)" />
    </settings>
  </oracle.dataaccess.client>
  <connectionStrings>
    <!--<add name="cmsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ESHOP;Uid=eshop;Pwd=eshop2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="htxxEntities" connectionString="metadata=res://*/htxx.htxxModel.csdl|res://*/htxx.htxxModel.ssdl|res://*/htxx.htxxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=htxx;persist security info=True;user id=sa;password=root;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="crmEntities" connectionString="metadata=res://*/CRM.ModelCrm.csdl|res://*/CRM.ModelCrm.ssdl|res://*/CRM.ModelCrm.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=crm_test;PASSWORD=CRM;PERSIST SECURITY INFO=True;USER ID=CRM&quot;" providerName="System.Data.EntityClient" />-->
    <add name="htxxEntities" connectionString="metadata=res://*/htxx.htxxModel.csdl|res://*/htxx.htxxModel.ssdl|res://*/htxx.htxxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.205;initial catalog=htxx;persist security info=True;user id=mall;password=2014#htxx_mall;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="cmsEntities" connectionString="metadata=res://*/cms.cmsModel.csdl|res://*/cms.cmsModel.ssdl|res://*/cms.cmsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.205;initial catalog=cms;user id=cms;password=cms2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="gsglxtEntities" connectionString="metadata=res://*/gsglxt.gsglxtModel.csdl|res://*/gsglxt.gsglxtModel.ssdl|res://*/gsglxt.gsglxtModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.205;initial catalog=gsglxt;persist security info=True;user id=msgmgr;password=gsglxt.2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="crmEntities" connectionString="metadata=res://*/CRM.ModelCrm.csdl|res://*/CRM.ModelCrm.ssdl|res://*/CRM.ModelCrm.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=crm_pdt;PASSWORD=comws;PERSIST SECURITY INFO=True;USER ID=COMWS&quot;" providerName="System.Data.EntityClient" />
    <add name="TaxEntities" connectionString="metadata=res://*/Tax.TaxModel.csdl|res://*/Tax.TaxModel.ssdl|res://*/Tax.TaxModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=crm_test;PASSWORD=xxfp;USER ID=XXFP&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>