<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="WindowTitle" value="进项发票数据同步助手"/>
    <!--<add key="StartUri" value="http://service.szhtxx.com:15922/Business/Invest" />
    <add key="TargetUri" value="http://service.szhtxx.com:15922/Business/Invest/Edit/1" />-->
    <add key="StartUri" value="https://fpdk.szgs.gov.cn"/>
    <add key="TargetUri" value="https://fpdk.szgs.gov.cn/fpcx.html"/>
    <add key="IsOffline" value="1"/>
    <add key="HtmlFakeFilePath" value="demo.txt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--是否显示免责声明-->
    <add key="ContractFilePath" value="contract.txt"/>
    <add key="IfShowContract" value="1"/>
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NoneSecurity" maxReceivedMessageSize="6553600"/>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="NoneSecurity" maxReceivedMessageSize="6553600">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
      <ws2007HttpBinding>
        <binding name="NoneSecurity" maxReceivedMessageSize="6553600">
          <security mode="None"/>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://localhost:16510/SyncImport.svc" binding="ws2007HttpBinding"
        bindingConfiguration="NoneSecurity" contract="SZ.Aisino.CMS.IService.ISyncImportInvoiceService"
        name="ISyncImportInvoiceService" kind="" endpointConfiguration="" />-->

      <endpoint address="http://192.168.0.254:16510/SyncImport.svc" binding="ws2007HttpBinding" bindingConfiguration="NoneSecurity" contract="SZ.Aisino.CMS.IService.ISyncImportInvoiceService" name="ISyncImportInvoiceService" kind="" endpointConfiguration=""/>
    </client>
      <!--<bindings configSource="Configs\WCF.Bindings.config" />
      <client configSource="Configs\WCF.Client.config" />-->
  </system.serviceModel>
</configuration>
