<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
  </entityFramework>
  <oracle.manageddataaccess.client>
    <version number="*">
      <edmMappings>
        <edmMapping dataType="number">
          <add name="bool" precision="1"/>
          <add name="byte" precision="2"/>
          <add name="int16" precision="5"/>
        </edmMapping>
      </edmMappings>
    </version>
  </oracle.manageddataaccess.client>
  <oracle.dataaccess.client>
    <settings>
      <add name="bool" value="edmmapping number(1,0)"/>
      <add name="byte" value="edmmapping number(3,0)"/>
      <add name="int16" value="edmmapping number(4,0)"/>
      <add name="int32" value="edmmapping number(9,0)"/>
      <add name="int64" value="edmmapping number(18,0)"/>
    </settings>
  </oracle.dataaccess.client>
  <connectionStrings>
     
    <add name="TaxEntities" connectionString="metadata=res://*/Tax.TaxModel.csdl|res://*/Tax.TaxModel.ssdl|res://*/Tax.TaxModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=crm_test;PASSWORD=xxfp;USER ID=XXFP&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
