<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <add name="TaxEntities" connectionString="metadata=res://*/Tax.TaxModel.csdl|res://*/Tax.TaxModel.ssdl|res://*/Tax.TaxModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=crm_test;PASSWORD=xxfp;USER ID=XXFP&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <oracle.manageddataaccess.client>
    <version number="*">
      <edmMappings>
        <edmMapping dataType="number">
          <add name="bool" precision="1" />
          <add name="byte" precision="2" />
          <add name="int16" precision="5" />
        </edmMapping>
      </edmMappings>
    </version>
  </oracle.manageddataaccess.client>
  <oracle.dataaccess.client>
    <settings>
      <add name="bool" value="edmmapping number(1,0)" />
      <add name="byte" value="edmmapping number(3,0)" />
      <add name="int16" value="edmmapping number(4,0)" />
      <add name="int32" value="edmmapping number(9,0)" />
      <add name="int64" value="edmmapping number(18,0)" />
    </settings>
  </oracle.dataaccess.client>
  <entityFramework>

    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>

  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:12000/alayazsoa/mex"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Alayaz.SOA.Service.SyncImportInvoiceService" behaviorConfiguration="mexBehavior">
        <!--<endpoint address="net.tcp://localhost:10002/alayazsoa" binding="netTcpBinding" contract="Alayaz.SOA.IService.ISyncImportInvoiceService"/>-->
        <endpoint address="http://localhost:12001/alayazsoa" binding="basicHttpBinding" contract="Alayaz.SOA.IService.ISyncImportInvoiceService"/>
      </service>
    </services>
  </system.serviceModel>

  <log4net>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <!--<conversionPattern value="%newline %n记录时间：%date %n线程ID:[%thread] %n日志级别：  %-5level %n出错类：%logger property: [%property{NDC}] - %n错误描述：%message%newline %n"/>-->
        <conversionPattern value="%newline %n记录时间：%date %n线程ID:[%thread] %n进项发票数据：%message%newline %n"/>
      </layout>
    </appender>
    <root>
      <!--<level value="ALL"/>-->
      <!--文件形式记录日志-->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--JustStart操作方法启动的应用程序名称-->
    <add key="AppName" value="C:\Alayaz\Debug\Alayaz.CM.DN432.WebCrawl.exe"/>

  </appSettings>

  <!--
 安装
 以管理员身份运行cmd ！
>    C:\Windows\Microsoft.NET\Framework64\v4.0.30319\installutil "C:\T2_16\Graph\WPF_CM_SOA\Alayaz.SOA.IService.WindowsServiceHostServer\bin\Debug\Alayaz.SOA.IService.WindowsServiceHostServer.exe"

卸载
以管理员身份运行cmd ！
>    C:\Windows\Microsoft.NET\Framework64\v4.0.30319\installutil /u "C:\T2_16\Graph\WPF_CM_SOA\Alayaz.SOA.IService.WindowsServiceHostServer\bin\Debug\Alayaz.SOA.IService.WindowsServiceHostServer.exe"

-->
</configuration>
